<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Poll details</title>
  </head>
  <body>
    <!-- XXX Django's autoescape has been turned off as a simulated misconfiguration or
     developer oversight -- or perhaps the developers intend to bring in data from another
     data model which contains HTML, and instead of controlling only the autoescaping of that
     single data source, they turn it of for everything. -->
    {% autoescape off %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>
          <h1>{{ question.question_text }} by {{ question.username }}</h1>
        </legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %} {% for choice in question.choice_set.all %}
        <input
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}"
        />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label
        ><br />
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote" />
    </form>
    <!-- XXX Pairs with the bad "autoescape off" from the start of the HTML body -->
    {% endautoescape %}
  </body>
</html>
