<!doctype html>
<html lang="en-US">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
    <title>Polls list</title>
  </head>
  <body>
<!-- XXX This is the naive cookie-based login -->     
    {% if request.COOKIES.username %}
      <p><a href="{% url 'users:logout' %}">Logout</a></p>
    {% else %}
      <p><a href="{% url 'users:login' %}">Login</a></p>
    {% endif %}
<!-- XXX Fix for A01:2021, A02:2021, and A07:2021 
    {% comment %}
    {% if user.is_authenticated %}
    <p>
    <form action="{% url 'logout' %}" method="post">
      Hello {{ user.username }}
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>
    </p>
    {% else %}
      <p><a href="/accounts/login/">Login</a></p>
    {% endif %} 
    {% endcomment %}-->
    <h1>Polls In System</h1>
    {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}"
          >{{ question.question_text }}</a
        >
        by {{ question.username }} 
        {% if request.COOKIES.username == question.username %} 
          (Pretend there's a delete link here) 
        {% endif %}
        {% comment "Dummy deletion link garnish based on Django authentication" %}
        {% if user.username == question.username %}
          (Pretend there's a delete link here) 
        {% endif %}
        {% endcomment %}
        
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
<!-- XXX The naive login check for creating new polls -->
    {% if request.COOKIES.username %}
      <p><a href="{% url 'polls:create' %}">Add a new poll</a></p>
    {% endif %}     

    <!-- XXX Part of fix for A01/A02/A07
    {% if user.is_authenticated %}
     <p><a href="{% url 'polls:create' %}">Add a new poll</a></p>
    {% endif %}
    -->    
  </body>
</html>
