<!doctype html>
<html lang="en-US">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
    <title>Polls list</title>
  </head>
  <body>
    {% if request.COOKIES.username %}
    <p><a href="{% url 'users:logout' %}">Logout</a></p>
    {% else %}
    <p><a href="{% url 'users:login' %}">Login</a></p>
    {% endif %}
    <h1>Polls In System</h1>
    {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}"
          >{{ question.question_text }}</a
        >
        by {{ question.username }} 
        {% if request.COOKIES.username == question.username %} (Pretend there's a delete link here) 
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    {% if request.COOKIES.username %}
     <p><a href="{% url 'polls:create' %}">Add a new poll</a></p>
    {% endif %}
  </body>
</html>
