<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>New Poll</title>
  </head>
  <body>
    <form action="{% url 'polls:create' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend><h1>New Poll</h1></legend>
        <table>
          {{ form.as_table }}
        </table>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
      </fieldset>
      <input type="submit" value="Create" />
    </form>
  </body>
</html>
